.navigation {
    height: 10%;
    position: relative;
   
    &__list {
       
        margin-top: 1rem;
        float: right;
        
    }

    &__item {
        display: inline-block;
    }

    &__link {
        color: $color-white;
        width: 10rem;
        border-radius: 0.5rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
        text-align: center;
        display: inline-block;
        cursor: pointer;
        // border: 1px solid red;
        font-size: 1.6rem;
        font-weight: 900;
        text-decoration: none;
        

        &:hover {
            text-decoration: underline $color-white;
        }

    }
}

.project-img{
    width: 50rem;
}