.navigation {
    // border: 1px solid green;
    height: 10%;
    background-color: rgba($color-black, 0.5);
   
    &__button {
        color: #fff;
        // height: 100%;
        width: 10rem;
        border-radius: 0.5rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        display: inline-block;
        cursor: pointer;
        // border: 1px solid red;
        position: absolute;
            top: 50%;
            left: 13%;
        transform: translate(-50%, -50%);
        position: relative;

    }

    &__list {
        // border: 1px solid blue;
        float: right;
        height: 100%;
    }

    
}